/* TodoApp.css */
body{
  background-image:url("https://cdn.wallpaperhub.app/cloudcache/7/c/4/d/3/0/7c4d3040631ac5f3f3b6bdae70a7b63a7d2c9f29.jpg");
  background-size: cover;
}

.todo-app {
  background: linear-gradient(145deg, #7b5fac, #6b8dd6);
  border-radius: 20px;
  padding: 20px;
  width: 350px;
  margin: 50px auto;
  color: white;
  width: 600px;
}

h1 {
  text-align: center;
}

.task-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.task-input input {
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.task-input button {
  background-color: #3a66e5;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px;
  cursor: pointer;
  margin-left: 5px;
}

.label-popup {
  background-color: #ffffffb4;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  color: black;
}

.label-list {
  max-height: 150px;
  overflow-y: auto;
}

.task-list {
  margin-top: 20px;
}

.task-item {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item input[type="checkbox"] {
  margin-right: 10px;
}

.task-item .completed {
  text-decoration: line-through;
}

.labels {
  display: flex;
  gap: 5px;
}

.label {
  background-color: #3e67c2;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 17px;
}
.label-popup input{
  border-radius: 5px;
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
  border:2px solid #5c3ae599;
}
.label-popup button{
  background-color: #3a66e5;
  color: white;
  border: none;
  height: 30px;
  border-radius: 5px;
}
.btn1 button{
  background-color: #3a66e5;
  border: none;
  margin-left: 10px;
  color: white;
  height: 35px;
  width: 70px;
  border-radius:5px ;
  text-align: center;
  
}

#btn2 {
  margin-top: 10px;
  margin-left: 10px;
  width: 70px;
}
#btn2:hover{
  background-color: #7b5fac;
}